html {
  background-image: url("../images/sloth-bg.svg");
  background-repeat: repeat;
  background-color: #bea586;
  background-size: 48px;
}

h1, figcaption {
  font-family: Georgia, serif;
}

h1 {
  color: #fff;
}

p, a {
  font-family: Verdana, sans-serif;
  color: #000;
}

.banner-content {
  background: linear-gradient(to top, rgba(28, 14, 0, 0), rgba(28, 14, 0, 1));
}
